<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
<listeners>
		<listener class-name="org.generic.TestListener"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
    
    <!-- Creator role test cases -->
			
			<class name="org.testscripts.UploadYoutubeContent" />
			   <class name="org.testscripts.CourseCreation"/>
			<class name="org.testscripts.BookCreation" />
			<class name="org.testscripts.CollectionCreation" />				
			<class name="org.testscripts.LessonplanCreation" />
			<class name="org.testscripts.CourseCreation" />		
	  		
	    	<class name="org.testscripts.BookCreateOptionValidation" />
	    	<class name="org.testscripts.EditContentAndSendForReview" />		       	    
		
    
	   
     <!--   <class name="org.testscripts.NavigateToMyActivity"/>     
      <class name="org.testscripts.SearchUsers"/>
      <class name="org.testscripts.ProfileInfoUpdate"/>
      <class name="org.testscripts.SearchCourse"/>
      <class name="org.testscripts.CheckCourseStatAsMentor"/>
      <class name="org.testscripts.EnrollToCourseInOpenBatch"/>
      <class name="org.testscripts.SearchInLibrary"/>
      <class name="org.testscripts.LimitedSharingTheContent"/>
      <class name="org.testscripts2.UploadContentTypePdfAndVerify"/>
      <class name="org.testscripts2.UploadContentTypeWebm"/>
      <class name="org.testscripts.UploadContentTypeH5pAndVerify"/>
      
      <class name="org.testscripts.Create_Verify_DeleteAnnouncement"/>
      <class name="org.testscripts.UploadHtmlContent"/>
      <class name="org.testscripts2.Regression_TC04"/>
      <class name="org.testscripts.CheckForDownloadButtonAvailabilityForUserInProfile"/>
      <class name="org.testscripts2.Regression_TC05"/>
      <class name="org.testscripts.CreateLessonPlanAndVerify"/>
      <class name="org.testscripts2.Regression_TC06"/>
      <class name="org.testscripts.CheckForAuthenticUserInMentor"/>
      <class name="org.testscripts.RootUsersProviderAndExtID"/>
      <class name="org.testscripts2.UploadContentTypeHtmlAndVerify"/>
      <class name="org.testscripts2.SearchCourseCreateInviteOnlyBatch"/>
      <class name="org.testscripts.CreateCourseAndVerify"/>
      <class name="org.testscripts.VerifyBookCreator"/>     
      <class name="org.testscripts2.UploadContentTypeMp4"/>
      <class name="org.testscripts.LoginAndChangePassword"/>     
      <class name="org.testscripts.ConfirmInstructionReceivedInforgotPassword"/>
      <class name="org.testscripts.UnlinkDailcode"/>
      <class name="org.testscripts2.UploadContentTypeEpubAndVerify"/>
      <class name="org.testscripts.CreateAnnouncementWithAttachment"/>     
      <class name="org.testscripts.NavigateToAnnouncementDashboard"/>
      <class name="org.testscripts.UploadWebmContent"/>
      <class name="org.testscripts.ResendAnnouncementAndVerifyAsReciever"/>
      <class name="org.testscripts.BookCreateOptionValidation"/>
      <class name="org.testscripts.ResendAnnouncement"/>
      <class name="org.testscripts.DialCodeLink"/>
      <class name="org.testscripts.ResourceCreationAndPublish"/>
      <class name="org.testscripts.SearchCourseCreateInviteOnlyBatch"/>
      <class name="org.testscripts.CreateCollectionAndVerify"/>     
      <class name="org.testscripts.VerifyPublishedBucket"/>
      <class name="org.testscripts2.UploadContentTypeYoutubeAndVerify"/>
      <class name="org.testscripts2.CreateCollectionAndVerify"/>
      <class name="org.testscripts.ConsumeOpenCourseByPublicUser"/>
      <class name="org.testscripts.SubOrgUsersProviderAndExtId"/>
      <class name="org.testscripts.SearchCourseUsingFilter"/>
      <class name="org.testscripts.UploadH5pContent"/>
      <class name="org.testscripts.UploadYoutubeContent"/>
      <class name="org.testscripts.AdminCreationAndDownloadCsv"/>
   
      <class name="org.testscripts.CreateBookAndVerifyOnlyBooksPresent"/>
      <class name="org.testscripts.SearchContentWithFiltersAsReviewer"/>
      <class name="org.testscripts.CheckAvailabilityOfCourseForInvitedMember"/>
      <class name="org.testscripts.UploadContentTypeEpubAndVerify"/>
      <class name="org.testscripts.SearchOrgsAsAdmin"/>
      <class name="org.testscripts.SendTheCourseForReview"/>
      <class name="org.testscripts.ConsumeCourseByInvitedMember"/>
      <class name="org.testscripts2.UploadContentTypeH5pAndVerify"/>
      <class name="org.testscripts2.ConsumeOpenCourseByPublicUser"/>
      <class name="org.testscripts.NavigateToMyActivityInDropdown"/>
      <class name="org.testscripts2.CreateCourseAndVerify"/>
      <class name="org.testscripts.SearchInLibraryUsingFilter"/>      
      <class name="org.testscripts.UploadContentTypePdfAndVerify"/>
      <class name="org.testscripts.ConsumeOpenCourseByPublicUserAndCheckCourseStatAsMentor"/>
      <class name="org.testscripts2.CreateLessonPlanAndVerify"/>
      <class name="org.testscripts.ResourceCreation"/>
      <class name="org.testscripts.UploadContentTypeHtmlAndVerify"/>
      <class name="org.testscripts2.Regression_TC06"/>
      <class name="org.testscripts2.Regression_TC05"/>
      <class name="org.testscripts2.Regression_TC04"/>
      <class name="org.testscripts.CheckInReviewSubmission"/>
      <class name="org.testscripts.CreateBookAndVerify"/>
      <class name="org.testscripts.VerifyTheBookAvailableForReview"/>
      <class name="org.testscripts2.ResourceCreationAndPublish"/>
      <class name="org.testscripts.UpdateBatchAsInvitedMentor"/>
     
      <class name="org.testscripts.CheckSuborgMentorInvitingOrgMember"/>
      <class name="org.testscripts.VerifyHomePage"/>
      <class name="org.testscripts.CourseCreation"/>
      <class name="org.testscripts.LessonplanCreation"/>
      <class name="org.testscripts2.CreateBookAndVerify"/>
      <class name="org.testscripts.OpenAnnouncement"/>
      <class name="org.testscripts.EditContentAndSendForReview"/>
      <class name="org.testscripts.ResendAnnouncementAndVerifyAnnouncement"/>
      <class name="org.testscripts.VerifyElementsInAdminDashboard"/> 
      <class name="org.testscripts.UploadContentTypeMp4"/>
      <class name="org.testscripts2.UploadMp4Content"/>
      <class name="org.testscripts.UploadEpubContent"/>
      <class name="org.testscripts.BookCreation"/>
      <class name="org.testscripts.CollectionCreation"/>    
    -->  
   
      
      <!-- Test cases of P2 
      
      
     
    
       <class name="org.testscripts.regression.CreateResourceWithContentsPluginsAndVerifyContentEditor"/>
      <class name="org.testscripts.regression.NavigateToGetStartedAndExploreSunbird"/>
      <class name="org.testscripts.regression.ReviewerPublishesAndRejectsContent"/>
      <class name="org.testscripts.regression.UpForReview_LatestContentInTop_SearchContent_FromSameChannel_ApplyAndResetFilters"/>
      <class name="org.testscripts.regression.CreateResourceByAddingAudio"/>
      <class name="org.testscripts.regression.SameUserNameIsNotAllowedWhileSignup"/>
      <class name="org.testscripts.regression.VerifyFeaturesOfProfileIconAndWorkspace"/>
      <class name="org.testscripts.regression.VerifyPropertySection_PreviewSlidesAndFromBegining"/>
      <class name="org.testscripts.regression.VerifyNavigateToGetPage"/>
      <class name="org.testscripts.regression.SearchParticularContentInAllMyContent"/>
      <class name="org.testscripts.regression.VerifySortOption"/>
      <class name="org.testscripts.regression.CopyContentFromLibraryAndVerify"/>
      <class name="org.testscripts.regression.ReviewerRequestChangesTheBook"/>
      <class name="org.testscripts.regression.SendForReviewContentUnderReviewSubmission"/>
      <class name="org.testscripts.regression.CreateResource_PublishAndDeleteFromLimitedPublising"/>
      <class name="org.testscripts.regression.VerifyUploadContentPopup_UploadAnyContent_CloseButton_DownloadContent"/>
      <class name="org.testscripts.regression.ReviewAndPublishReceivedContent"/>
      <class name="org.testscripts.regression.SeeTheContentBasedOnAppliedFilter"/>
      <class name="org.testscripts.regression.RejectTheUploadedContent"/>
      <class name="org.testscripts.regression.QuestionTemplateFillInTheBlankCustom"/>
      <class name="org.testscripts.regression.VerifyLibraryCopyContent"/>
      <class name="org.testscripts.regression.LimitedSharedContentInLimitedSharingSection"/>
      <class name="org.testscripts.regression.SavedContentUnderAllUploads"/>
      <class name="org.testscripts.regression.AccessOnAllPagesAfterLogin"/>
      <class name="org.testscripts.regression.VerifyEditDetailsPopupAndTopicTree"/>
      <class name="org.testscripts.regression.VerifyMyActivityLinkInProfileDropdown"/>
      <class name="org.testscripts.regression.LatestContentOnTopOfUpForReviewAndSearch"/>
      <class name="org.testscripts.regression.SortTheResultInUpForReview"/>
      <class name="org.testscripts.regression.VerifyEditMetadataPageForCollection"/>
      <class name="org.testscripts.regression.VerifyNoAnnouncement_MyAnnouncement_AnnouncementPopup"/>
      <class name="org.testscripts.regression.CreateResourceByCreatingAFillInThBlanksQuestion"/>
      <class name="org.testscripts.regression.CreateResourceByUploadingVideoAndActivityPlugins"/>
      <class name="org.testscripts.regression.UploadYoutubeFile"/>
      <class name="org.testscripts.regression.VerifyUserNaviagationToContentEditor"/>
      <class name="org.testscripts.regression.VerifyTheClosingOfContentEditor"/> -->
      
      
       <!-- <class name="org.testscripts.ChangeTheContentAfterFlagged"/> 
       	   <class name="org.testscripts.UploadRootOrg"/>
       	<class name="org.testscripts.UploadSubOrg"/>
        <class name="org.testscripts.AcceptAsflagReviewer"/>
        <class name="org.testscripts.FlagTheContentAsPublicUser"/>
        <class name="org.testscripts.CheckTheflaggedContentINDraft"/>
        <class name="org.testscripts.DiscardAsFlagReviewer"/>
        <class name="org.testscripts.AdminConsumptionAndDownloadCsv"/>
        <class name="org.testscripts.CheckUpForReviewAsFlagReviewer"/>
        <class name="org.testscripts.UploadSubOrgUsersWithProviderAndExtId"/>
        <class name="org.testscripts.UploadRootOrgUsersWithProviderAndExtID"/>
        <class name="org.testscripts.SearchAndDownloadOrgFile"/>
        <class name="org.testscripts.UploadRootOrgUsersWithOrgId"/>
        <class name="org.testscripts.UploadSubOrgUsersWithOrgId"/>
        <class name="org.testscripts.SkillEndorsement"/>
        <class name="org.testscripts.UpdateProfilePhoto"/>-->
        
    </classes>
  </test> <!-- Test -->
</suite> <!-- Regression Suite -->
