<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sunbird-Automation">
	<listeners>
		<listener class-name="org.sunbird.generic.TestListener"></listener>
	</listeners>
	<test thread-count="1" name="regressiontest-P1">
		<classes>
		
			<!-- Test Cases for Admin -->
			<class name="org.sunbird.testscripts.UploadRootOrg" />
			<class name="org.sunbird.testscripts.UploadRootOrgUsersWithOrgId" />
			<class name="org.sunbird.testscripts.UploadSubOrg" />
			<class name="org.sunbird.testscripts.UploadSubOrgUsersWithOrgId" />
			<class name="org.sunbird.testscripts.UploadSubOrgUsersWithProviderAndExtId" />
			<class name="org.sunbird.testscripts.VerifyElementsInAdminDashboard" />			 
			<class name="org.sunbird.testscripts.AdminCreationAndDownloadCsv" />
			

		 	
			<!-- Test Cases for Public User  -->
			<class name="org.sunbird.testscripts.SkillEndorsement" />
			<class name="org.sunbird.testscripts.UpdateProfilePhoto" />
			<class name="org.sunbird.testscripts.SearchUsers" />
			<class name="org.sunbird.testscripts.LoginAndChangePassword" />
			<class name="org.sunbird.testscripts.SearchCourse" />
			<class name="org.sunbird.testscripts.ProfileInfoUpdate" />
			<class name="org.sunbird.testscripts.SearchInLibrary" />
			<class name="org.sunbird.testscripts.SearchCourseUsingFilter" />
			<class name="org.sunbird.testscripts.SearchInLibraryUsingFilter" />
			<class name="org.sunbird.testscripts.ConfirmInstructionReceivedInforgotPassword" />
			<class name="org.sunbird.testscripts.VerifyHomePage" />

		<!-- 	Test Cases for Content Creator -->
			<class name="org.sunbird.testscripts.UnlinkDailcode" />
			<class name="org.sunbird.testscripts.UploadH5pContent" />
			<class name="org.sunbird.testscripts.BookCreation" />
			<class name="org.sunbird.testscripts.UploadHtmlContent" />
			<class name="org.sunbird.testscripts.UploadYoutubeContent" />
			<class name="org.sunbird.testscripts.UploadEpubContent" />
			<class name="org.sunbird.testscripts.UploadMp4Content" />
			<class name="org.sunbird.testscripts.BookCreateOptionValidation" />
			<class name="org.sunbird.testscripts.ResourceCreation" />
			<class name="org.sunbird.testscripts.CollectionCreation" />
			<class name="org.sunbird.testscripts.SendTheCourseForReview" />
			<class name="org.sunbird.testscripts.CourseCreation" />
			<class name="org.sunbird.testscripts.VerifyBookCreator" />
			<class name="org.sunbird.testscripts.DialCodeLink" />
			<class name="org.sunbird.testscripts.LessonplanCreation" />
			<class name="org.sunbird.testscripts.UploadWebmContent" />
			<class name="org.sunbird.testscripts.EditContentAndSendForReview" />
			<class name="org.sunbird.testscripts.CheckInReviewSubmission" />
			<class name="org.sunbird.testscripts.VerifyPublishedBucket" />
			<class name="org.sunbird.testscripts.LimitedSharingTheContent" />	


			<!-- Test Cases for Reviewer  -->
			<class name="org.sunbird.testscripts.SearchContentWithFiltersAsReviewer" />
			<class name="org.sunbird.testscripts.LimitedSharingTheContent" />
			<class name="org.sunbird.testscripts.VerifyTheBookAvailableForReview" />
 			
			
			<!-- 	Test Cases for Mentor 	 -->
			
			<class name="org.sunbird.testscripts.EnrollToCourseInOpenBatch" />
			<class name="org.sunbird.testscripts.ConsumeCourseByInvitedMember" />
			<class name="org.sunbird.testscripts.CheckSuborgMentorInvitingOrgMember" />
			<class name="org.sunbird.testscripts.CheckAvailabilityOfCourseForInvitedMember" />
			<class name="org.sunbird.testscripts.CheckForAuthenticUserInMentor" />
			<class name="org.sunbird.testscripts.UpdateBatchAsInvitedMentor" />
			<class name="org.sunbird.testscripts.CheckCourseStatAsMentor" />
			<class name="org.sunbird.testscripts.ConsumeOpenCourseByPublicUserAndCheckCourseStatAsMentor" />
			
			
			 <class name="org.sunbird.testscripts.NavigateToMyActivityInDropdown" />
			
				<class name="org.sunbird.testscripts.CheckForDownloadButtonAvailabilityForUserInProfile" />
		 		<class name="org.sunbird.testscripts.SearchOrgsAsAdmin" />
			
			<!-- Test Cases for Announcement sender  -->
			<class name="org.sunbird.testscripts.CheckUpForReviewAsFlagReviewer" />
			<class name="org.sunbird.testscripts.NavigateToAnnouncementDashboard" />
			<class name="org.sunbird.testscripts.ResendAnnouncementAndVerifyAnnouncement" />
			<class name="org.sunbird.testscripts.ResendAnnouncementAndVerifyAsReciever" />
			<class name="org.sunbird.testscripts.CreateAnnouncementWithAttachment" />
			<class name="org.sunbird.testscripts.Create_Verify_DeleteAnnouncement" />
			<class name="org.sunbird.testscripts.OpenAnnouncement" />
			<class name="org.sunbird.testscripts.ResendAnnouncement" />	
			
			
			<!-- Test Cases that are out of coverage point of view
			<class name="org.sunbird.testscripts.ChangeTheContentAfterFlagged" />
			 <class name="org.sunbird.testscripts.AcceptAsflagReviewer" /> 
				<class name="org.sunbird.testscripts.FlagTheContentAsPublicUser" />
				 <class name="org.sunbird.testscripts.CheckTheflaggedContentINDraft" /> 
				<class name="org.sunbird.testscripts.DiscardAsFlagReviewer" /> 
							<class name="org.sunbird.testscripts.AdminConsumptionAndDownloadCsv" /> 
							
			<class name="org.sunbird.testscripts.UploadRootOrgUsersWithProviderAndExtID" />
			<class name="org.sunbird.testscripts.AdminConsumptionAndDownloadCsv" />
			<class name="org.sunbird.testscripts.SearchAndDownloadOrgFile" />
 			-->
		</classes>
	</test> <!-- regressiontest-P1 -->
</suite> <!-- Sunbird-Automation -->
